@import "reset.css";

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 20px;
}

.form-group {
    display: flex;
    gap: 20px;
}

label {
    width: 5rem;
}

table {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 1em;
}

td {
    text-align: center;
}