@import "reset.css";

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
}

table {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 1em;
}

td {
    text-align: center;
}